{$ROOSTERRUN_DOMAIN} {
    encode zstd gzip

    @private path /metrics/ /api/internal/*
    respond @private 404

    @rtc path /rtc/*
    handle @rtc {
        reverse_proxy srs:1985
    }

    handle_path /media/* {
        reverse_proxy srs:8080
    }

    handle {
        reverse_proxy app:8765 {
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    log {
        output stdout
        format json
    }
}
